#cheader {
   height: 100px;
   float: none;
   padding-bottom: 10px;
}

.featureim{
  float: left;
  width: 194px;
  padding-right: 50px;
  padding-left: 25px;
}

#searchform{
  display: inline;
}


#content
 {
   float: none;
   height: 75%;
   width: 100%;
   /*overflow: auto;*/
}


#cnavbar {
  width: 18%;
  margin-left: auto;
  margin-right: 1%;
  height: 100%;
  float: left;


}
#cmain  {
  width: 61%;
  height: 100%;
  float: left;
  clear: right;
  padding: 5px;
}


#cright {
  width: 18%;
  margin-left: 1%;
  margin-right: auto;
  float: right;
}

#ccopyright {
  height: 7%;
  width: 100%;
  float: none;
  clear: both;
  padding: 10px 10px 0px 20px;
  /*border-top: thin dotted #B1BEC6 */
}
