 @import url("location.css") all, screen;



body {
  font-family: "Times New Roman", Times, serif;
  font-size: medium;
  text-align: justify;
}

.divitem {
  float: left;
}

p.pline:first-line {
  font-family: "Times New Roman", Times, Georgia, Verdana, serif;
  font-size: 25px;
  font-weight: bold;
  display: block;
}

p.p1:first-letter {
  font-size: larger;
  font-variant: small-caps;
  margin-left: 15px;
}

p {
  font-family: "Times New Roman", Times, Georgia, Verdana, serif;
  font-size: 20px;
  font-weight: normal;
  text-align: justify;
  line-height: normal;
}

a {
  color:  #0000FF;
  text-decoration: none;
}

a:visited {
  color: #9400D3;
  cursor: pointer;
}

a:hover {
  color: #FF0000;
  text-decoration: underline;
}
